# OpenRouter Configuration (Optional custom key)
OPENROUTER_API_KEY=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

# Gemini AI (Optional fallback)
GEMINI_API_KEY=""

# RevenueCat Configuration
REVENUECAT_API_KEY="test_HXizHOyCVxZVswFNxdCdsiwUfSF"

# Supabase Database & Auth Configuration
SUPABASE_URL="https://xyzcompany.supabase.co"
SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZS1kZW1vIiwicm9sZSI6ImFub24iLCJleHAiOjE5ODM0MTI4MDB9.demo_token"
